{% extends "layouts/base.html" %}
{% block title %} Task 7 - Students per City {% endblock %}
{% block content %}
<h2>Number of Students in Each City</h2>
<table border="1" cellpadding="10">
    <tr>
        <th>City</th>
        <th>Number of Students</th>
    </tr>
    {% for city in cities %}
    <tr>
        <td>{{ city.city }}</td>
        <td>{{ city.student_count }}</td>
    </tr>
    {% empty %}
    <tr>
        <td colspan="2">No data found.</td>
    </tr>
    {% endfor %}
</table>
{% endblock content %}